
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<style>
    .dropdown-menu
    {
        position: absolute;

        
    }
    .dropdown-item {
        font-size: small;
        width: 100%;
    }

    .dropdown-item:hover {
        color: #F88634;
        background-color: transparent;
    }
  

</style>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        @*<a class="navbar-brand" href="#">Navbar</a>*@
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto nav-2">
                @*<li class="nav-item">
                <a class="nav-link active" href="#">Home
                <span class="visually-hidden">(current)</span>
                </a>
                </li>*@
                <p class="nav-left-box">
                    <li class="nav-item srch-btn">
                    <a class="nav-link" href="#" role="button"><i class="bi bi-search"></i></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Stories</a>
                    </li>

                    <li class="nav-item dropdown policy-dd">
                        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Policy <img src="~/images/drop-down.png" /></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </p>
                <div class="nav-right-box">
                    @*<img src="~/images/user-img.png" style="border-radius:100%; height:50px; width:50px;" />*@
                    <li class="nav-item dropdown">
                    <a class="nav-link btn-group" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="~/images/user-img.png" style="border-radius:100%; height:50px; width:50px;" /> <span class="profile-name">Evan Donohue</span> <img src="~/images/drop-down.png" /></a>
                        <div class="dropdown-menu ">
                            <div class="text-center fw-bold profile-name-dd" href="#">Name</div>
                            <a class="dropdown-item dd-item" href="#">Add Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Volunteering Timesheet</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </li>
                 </div>

            </ul>
        </div>
    </div>
</nav>

