
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        @*<a class="navbar-brand" href="#">Navbar</a>*@
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto nav-2">
                @*<li class="nav-item">
                <a class="nav-link active" href="#">Home
                <span class="visually-hidden">(current)</span>
                </a>
                </li>*@
                <p class="nav-left-box">
                <li class="nav-item">
                    <a class="nav-link" href="#">Stories</a>
                </li>

                <li class="nav-item dropdown" style="margin-left:30px;">
                    <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Policy <img src="~/images/drop-down.png" /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                </p>
                <div class="nav-right-box">
                    <img src="~/images/user-img.png" style="border-radius:100%; height:50px; width:50px;" />
                <li class="nav-item dropdown">
                    <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Evan Donohue <img src="~/images/drop-down.png" /></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
        </div>

        </ul>
    </div>
    </div>
</nav>

