

<nav class="navbar navbar-expand navbar-light bg-light" style="border-bottom-width:3px;">
    <div class="container-fluid">
        @*<a class="navbar-brand" href="#">Navbar</a>*@
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto nav-2">
                @*<li class="nav-item">
                <a class="nav-link active" href="#">Home
                <span class="visually-hidden">(current)</span>
                </a>
                </li>*@
                <form class=" search-box1">
                    <img src="/images/search.png" class="search-img" alt="">

                    <input class="form-control-sm me-sm-2 search-bar1" type="search" placeholder="Search mission...">
                    @*<button class="btn btn-secondary my-2 my-sm-0" type="submit" fdprocessedid="m1hws7">Search</button>*@
                </form>

             <div class="nav-right-box2">
                <li class="nav-item dropdown dd-box">
                    <button class="nav-link btn-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Country<img src="~/images/drop-down.png" /></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>

                    </div>
                </li>
                <li class="nav-item dropdown dd-box">
                    <button class="nav-link btn-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">City <img src="~/images/drop-down.png" /></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>

                    </div>
                </li>
                <li class="nav-item dropdown dd-box">
                    <button class="nav-link btn-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Theme <img src="~/images/drop-down.png" /></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>

                    </div>
                </li>
                <li class="nav-item dropdown dd-box">
                    <button class="nav-link btn-link" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Skills <img src="~/images/drop-down.png" /></button>
                    <div class="dropdown-menu dd-menu-left">
                        <a class="dropdown-item" href="#">Action</a>

                    </div>
                </li>
            </div>
        </ul>
    </div>
    </div>
</nav>




