<partial name="_nav1" />
<partial name="_navbar" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<div class="show-container d-flex align-items-center justify-content-between flex-wrap my-3" style="width: 78%; margin: auto;">
    <div>
        <div class="fw-lighter fs-6" style="color: #b1adad;">
            Explores <span class="fs-5" style="color: #000000;">72 Missions</span>
        </div>
        @*<a asp-controller="Home" asp-action="noMissionFound">No mission</a>*@
    </div>
    <div class="d-flex align-items-center">
        <div>
           <form method="post">
               <select class="p-2 me-md-5 me-4 border border-secondary-subtle fw-lighter" style="font-size: 12px; width: 171px; border: none;">
                   <option selected disabled>Sort By</option>
                   <option>Action1</option>
                   <option>Action1</option>
               </select>
           </form>
        </div>
        <div id="gridBtn" class="mx-2 p-2 rounded-circle" style="background-color: #d9d9d9" role="button">
            <img src="~/images/grid.png"/>
        </div>
        <div id="listBtn" class="p-2 rounded-circle" role="button" style="width: 40px; text-align: center; display:block;">
            <img src="~/images/list.png" height="20px"/>
        </div>
    </div>
</div>


<div id="gridviewBox">
    <div class=" container " style="width: 100%; margin:auto;">
        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">



            <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="card-btns loc-container">
                        <img src="~/images/pin.png" style="height: 13px;" />
                        <span>Toronto</span>
                    </div>
                    <div class="card-btns fav-container" role="button">
                        <img src="~/images/heart.png" style="height: 13px;" />
                    </div>
                    <div class="card-btns recommend-container" role="button">
                        <img src="~/images/user.png" style="height: 13px;" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Enviroment
                        </div>
                    </div>
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Grow trees - On the path to enviroment sustainability</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div style="font-size: 12px">Tree Canada</div>
                            <span class="stars">
                                <div for="rating-5" class="fas fa-star" style="color: #F8D441;"></div>
                                <div for="rating-4" class="fas fa-star"></div>
                                <div for="rating-3" class="fas fa-star"></div>
                                <div for="rating-2" class="fas fa-star"></div>
                                <div for="rating-1" class="fas fa-star"></div>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="duration-box px-2 py-1">
                            From 10/10/2010 until 11/11/2011
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between mt-1">
                            <div class="availability-box d-flex align-items-center">
                                <img src="~/images/Seats-left.png" class="me-2" height="18px" />
                                <div class="availability-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">Seats</div>
                                    <div style="color:">Seats Left</div>
                                </div>
                            </div>
                            <div class="deadline-box d-flex me-4 align-items-center">
                                <img src="~/images/deadline.png" height="22px" class="me-2" />
                                <div class="deadline-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">09/09/2009</div>
                                    <div>Deadline</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body d-flex justify-content-center">
                        <a href="#" class="apply-btn" style="font-size: smaller;">Apply&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="card-btns loc-container">
                        <img src="~/images/pin.png" style="height: 13px;" />
                        <span>Toronto</span>
                    </div>
                    <div class="card-btns fav-container" role="button">
                        <img src="~/images/heart.png" style="height: 13px;" />
                    </div>
                    <div class="card-btns recommend-container" role="button">
                        <img src="~/images/user.png" style="height: 13px;" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Enviroment
                        </div>
                    </div>
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Grow trees - On the path to enviroment sustainability</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div style="font-size: 12px">Tree Canada</div>
                            <span class="stars">
                                <div for="rating-5" class="fas fa-star" style="color: #F8D441;"></div>
                                <div for="rating-4" class="fas fa-star"></div>
                                <div for="rating-3" class="fas fa-star"></div>
                                <div for="rating-2" class="fas fa-star"></div>
                                <div for="rating-1" class="fas fa-star"></div>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="duration-box px-2 py-1">
                            From 10/10/2010 until 11/11/2011
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between mt-1">
                            <div class="availability-box d-flex align-items-center">
                                <img src="~/images/Seats-left.png" class="me-2" height="18px" />
                                <div class="availability-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">Seats</div>
                                    <div style="color:">Seats Left</div>
                                </div>
                            </div>
                            <div class="deadline-box d-flex me-4 align-items-center">
                                <img src="~/images/deadline.png" height="22px" class="me-2" />
                                <div class="deadline-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">09/09/2009</div>
                                    <div>Deadline</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body d-flex justify-content-center">
                        <a href="#" class="apply-btn" style="font-size: smaller;">Apply&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="card-btns loc-container">
                        <img src="~/images/pin.png" style="height: 13px;" />
                        <span>Toronto</span>
                    </div>
                    <div class="card-btns fav-container" role="button">
                        <img src="~/images/heart.png" style="height: 13px;" />
                    </div>
                    <div class="card-btns recommend-container" role="button">
                        <img src="~/images/user.png" style="height: 13px;" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Enviroment
                        </div>
                    </div>
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Grow trees - On the path to enviroment sustainability</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div style="font-size: 12px">Tree Canada</div>
                            <span class="stars">
                                <div for="rating-5" class="fas fa-star" style="color: #F8D441;"></div>
                                <div for="rating-4" class="fas fa-star"></div>
                                <div for="rating-3" class="fas fa-star"></div>
                                <div for="rating-2" class="fas fa-star"></div>
                                <div for="rating-1" class="fas fa-star"></div>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="duration-box px-2 py-1">
                            From 10/10/2010 until 11/11/2011
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between mt-1">
                            <div class="availability-box d-flex align-items-center">
                                <img src="~/images/Seats-left.png" class="me-2" height="18px" />
                                <div class="availability-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">Seats</div>
                                    <div style="color:">Seats Left</div>
                                </div>
                            </div>
                            <div class="deadline-box d-flex me-4 align-items-center">
                                <img src="~/images/deadline.png" height="22px" class="me-2" />
                                <div class="deadline-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">09/09/2009</div>
                                    <div>Deadline</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body d-flex justify-content-center">
                        <a href="#" class="apply-btn" style="font-size: smaller;">Apply&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="card-btns loc-container">
                        <img src="~/images/pin.png" style="height: 13px;" />
                        <span>Toronto</span>
                    </div>
                    <div class="card-btns fav-container" role="button">
                        <img src="~/images/heart.png" style="height: 13px;" />
                    </div>
                    <div class="card-btns recommend-container" role="button">
                        <img src="~/images/user.png" style="height: 13px;" />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Enviroment
                        </div>
                    </div>
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Grow trees - On the path to enviroment sustainability</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div style="font-size: 12px">Tree Canada</div>
                            <span class="stars">
                                <div for="rating-5" class="fas fa-star" style="color: #F8D441;"></div>
                                <div for="rating-4" class="fas fa-star"></div>
                                <div for="rating-3" class="fas fa-star"></div>
                                <div for="rating-2" class="fas fa-star"></div>
                                <div for="rating-1" class="fas fa-star"></div>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="duration-box px-2 py-1">
                            From 10/10/2010 until 11/11/2011
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between mt-1">
                            <div class="availability-box d-flex align-items-center">
                                <img src="~/images/Seats-left.png" class="me-2" height="18px" />
                                <div class="availability-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">Seats</div>
                                    <div style="color:">Seats Left</div>
                                </div>
                            </div>
                            <div class="deadline-box d-flex me-4 align-items-center">
                                <img src="~/images/deadline.png" height="22px" class="me-2" />
                                <div class="deadline-content flex-column" style="font-size:9px; color:#757575;">
                                    <div style="font-size: medium">09/09/2009</div>
                                    <div>Deadline</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body d-flex justify-content-center">
                        <a href="#" class="apply-btn" style="font-size: smaller;">Apply&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>



        </div>
    </div>
    </div>
</div>


                                


@*------------------------------------ListView-----------------------------------------------------------------*@

<div id="listviewBox" class="" style="display: none;">

    <div class="container">
    <div class=" p-0 m-auto mb-4 row " style="box-shadow: 0px 0px 10px #0000000F; position: relative;">
        <div style=" position: relative; padding:0!important;" class="col-md-4">
            <div class="card-btns loc-container">
                <img src="~/images/pin.png" style="height: 13px;" /> 
                <span>Toronto</span>
            </div>
            <div class="card-btns fav-container" role="button">
                <img src="~/images/heart.png" style="height: 13px;" />
            </div>
            <div class="card-btns recommend-container" role="button">
                <img src="~/images/user.png" style="height: 13px;" />
            </div>
            <div class="d-flex justify-content-center">
                <div class="l-theme-box px-3 py-1">
                    Enviroment
                </div>
            </div>

            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" style="height: 100%; width: 100%;">
        </div>
        <div class="mx-md-4 mt-3 col-md-7" >
            <div class="card-body">
                <h5 class="list-title">Grow trees - On the path to enviroment sustainability</h5>
                <p class="list-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                <div class="d-flex justify-content-lg-between justify-content-center align-items-center flex-wrap">
                    <div class="d-flex  align-items-center">
                            <div style="font-size: 12px">Tree Canada</div>
                            <span class="stars ms-4">
                                  <div for="rating-5" class="fas fa-star" style="color: #F8D441;"></div>
                                  <div for="rating-4" class="fas fa-star"></div>
                                  <div for="rating-3" class="fas fa-star"></div>
                                  <div for="rating-2" class="fas fa-star"></div>
                                  <div for="rating-1" class="fas fa-star"></div>  
                            </span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="duration-box-lv px-2 py-1">
                            From 10/10/2010 until 11/11/2011
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-lg-between justify-content-center  mt-3 flex-wrap-reverse ">

                <div class="d-flex justify-content-lg-center justify-content-sm-end align-self-center">
                    <a href="#" class=" apply-btn" style="font-size: smaller;">Apply&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                </div>
                <ul>
                    <li class="list-group-item d-flex mt-1">
                        <div class="availability-box d-flex align-items-center me-3">
                        <img src="~/images/Seats-left.png" class="me-2" height="18px" />
                            <div class="availability-content flex-column" style="font-size:9px; color:#757575;">
                                <div style="font-size: medium">Seats</div>
                                <div style="color:">Seats Left</div>
                                </div>
                        </div>
                        <div class="deadline-box d-flex me-4 align-items-center">
                            <img src="~/images/deadline.png" height="22px" class="me-2" />
                            <div class="deadline-content flex-column" style="font-size:9px; color:#757575;">
                                <div style ="font-size: medium">09/09/2009</div>
                                <div>Deadline</div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
     </div>
     </div>
    




    
</div>

<script>
    const gridbtn  =  document.getElementById('gridBtn');
    const gridbox  =  document.getElementById('gridviewBox');

    const listbtn  =  document.getElementById('listBtn');
    const listbox  =  document.getElementById('listviewBox');


    gridbtn.onclick = function(){
        gridbox.style.display = "block";
        gridbtn.style.backgroundColor = "#d9d9d9";
        listbox.style.display = "none";
        listbtn.style.backgroundColor = "#ffffff";
    }
    listbtn.onclick = function(){
        gridbox.style.display = "none";
        gridbtn.style.backgroundColor = "#ffffff";
        listbox.style.display = "block";
        listbtn.style.backgroundColor = "#d9d9d9";
    }
</script>