
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<partial name="_nav1" />
<partial name="_navbar" />



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<div class="w-100 sl-bigimg"> 
    <div class="top-img p-5 d-flex flex-column align-items-center justify-content-center">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <a class="share-story-btn d-flex" role="button">Share your Story &nbsp;<i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<div class="m-auto pt-4 w-100">

    <div class=" container " style="width: 100%; margin:auto;">
        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">



            <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                            <a class="share-story-btn">View Details&nbsp;<i class="bi bi-arrow-right"></i></a>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           <div class="col">
                <div class="card p-0 m-auto mb-4 " style=" box-shadow: 0px 0px 10px #0000000F; position: relative;">
                    <div class="d-flex justify-content-center">
                        <div class="theme-box px-3 py-1">
                            Customer Experience
                        </div>
                    </div>
                    <div style="position: relative">
                        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="card-img-top" alt="...">
                        <div class="card-img-top-hover d-flex justify-content-center align-items-center">
                            <div class="viewDetails-btn d-flex justify-content-center align-items-center">
                                <a class="share-story-btn">View Details &nbsp; <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fs-6">10 User and Customer Engagement Strategies for 2019</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="d-flex align-items-center mb-1" style="background-color:#ffffff;">
                          <div class="sl-vol-img">
                              <img src="~/images/volunteer4.png" />
                          </div>
                          <div class="flex-column ms-3 card-text text-dark">
                              Margaret Walsh
                          </div>
                      </div>
                    </div>
                </div>
            </div>

           


        

        </div>
    </div>

</div>

                      